/* ===========================================
   Media queries
   =========================================== */

@media (min-width: 400px) {
   body {
      padding: 0 15px;
   }

   h2 {
      margin: 30px 0;
   }

   header .wrapper,
   main .wrapper,
   footer .wrapper {
      min-width: 400px;
   }

   .topbar {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-width: 400px;
   }

   .topbar .logo {
      margin: 0;
      text-align: center;
   }

   nav {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 20px 0 0 0;
   }

   nav ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 0 auto;
   }

   nav li {
      margin: 0;
   }

   .slider {
      margin: 0 auto;
      padding: 40px 0 0 0;
      width: 100%;
   }

   .welkom {
      max-width: 400px;
      padding: 0 40px;
   }

   .members {
      gap: 10px;
      margin: 0 10px 0 0;
   }

   blockquote {
      margin: 10px 0;
   }

   .profiel {
      margin: 0 35px;
   }

   footer .wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      text-align: center;
   }

   footer small {
      margin: 0 0 20px 0;
   }

   footer .social_icons li {
      margin: 0 10px;
   }

   /* aanbod.html */

   .intro_img {
      height: auto;
      padding: 20px 0;
      width: 100%;
   }

   .cursus_aanbod {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 40px;
   }

   .cursus_detail {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 20px;
   }

   .contact-form,
   .contact_form {
      margin: 0 0 20px 0;
   }

   .contact-form input,
   .contact_form input,
   .contact-form textarea,
   .contact_form textarea {
      width: 95%;
   }

   .contact-form textarea,
   .contact_form textarea {
      margin: 0 0 20px 0;
   }

   .contact-form button,
   .contact_form button {
      margin: 0;
      width: fit-content;
   }

   #contact {
      display: flex;
      flex-direction: column;
      margin: 0 20px;
   }

   .addres {
      margin-bottom: 20px;
      order: 1;
      text-align: left;
   }

   iframe {
      margin: 0 auto;
      order: 2;
      width: 90%;
   }

   .contact_form {
      margin: 0 20px;
      order: 3;
      width: 90%;
   }
}

@media (min-width: 700px) {

   header .wrapper,
   main .wrapper,
   footer .wrapper {
      width: 700px;
   }

   .topbar {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 700px;
   }

   h1 {
      font-size: 30px;
   }

   .intro_img {
      height: auto;
      margin: 10px 0 10px 0;
      width: 100%;
   }

   nav {
      padding: 10px 0 0 0;
   }

   nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

   }

   .welkom {
      max-width: 700px;
      padding: 0 40px;
   }

   .profiel {
      margin: 0 75px;
   }

   .cursus_aanbod {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
      margin: 40px 0;
   }

   #contact {
      display: grid;
      gap: 20px;
      grid-template-columns: 1fr 1fr;
   }

   .addres {
      margin-bottom: 20px;
      order: 1;
      text-align: left;
   }

   iframe {
      margin: 40px auto;
      order: 2;
      width: 90%;
   }

   .contact_form {
      margin: 0 20px;
      order: 1;
      width: 90%;
   }

}

@media (min-width: 1000px) {

   header .wrapper,
   main .wrapper,
   footer .wrapper {
      width: 1000px;
   }

   h1 {
      font-size: 40px;
   }

   .welkom {
      min-width: 1000px;
      padding: 0 40px;
   }

   .blog {
      flex-wrap: nowrap;
   }

   .cursus_detail {
      align-items: flex-start;
      display: flex;
      gap: 40px;
      justify-content: space-between;
      margin: 40px 0;
   }

   .left-section {
      max-width: 55%;
   }

   footer .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      padding: 20px 0;
      width: 1000px;
   }

   footer small {
      color: #ff4632;
      padding: 20px 0 0 0;
   }

   footer .social_icons {
      align-items: center;
      display: flex;
      grid-column: 3 / 4;
      justify-content: center;
   }

   footer .social_icons ul {
      color: #ff4632;
      display: flex;
      font-size: 24px;
      gap: 15px;
      list-style: none;
      padding: 0;
   }
}