body {
    align-items: center;
    background: #4B4D50;
    display: block;
    height: 100vh;
    font-family: "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    justify-content: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff4632;
    font-size: 32px;
}

h1 .h1color {
    color: #fff;
}

/*  --- Index.html --- */
header .wrapper,
main .wrapper,
footer .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1000px;
    margin: 0 auto;
}

.topbar {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    min-width: 1000px;
    padding: 0px 30px 0 0;
}

.topbar .logo {
    position: relative;
    height: auto;
    margin: 20px 0px 20px 0px;
    align-items: center;
    justify-items: center;
}



nav ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    padding: 0 0 25px 0;
 }

 nav ul li a {
    /* padding: 10px 0px; */
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
 }

 nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -5px; /* Plaats het pseudo-element aan de onderkant */
    left: 0;
    width: 100%;
    height: 2px; /* Dikte van de "border" */
    background: linear-gradient(to right, #c70039, #ff5733 70%);
    transform: scaleX(0); /* Begin met een onzichtbare lijn */
    transform-origin: left; /* Lijn start van links */
    transition: transform 0.3s ease; /* Animatie-effect */
}

nav ul li a:hover {
    color: #CB0639;
}

nav ul li a:hover::after {
    transform: scaleX(1); /* Laat de lijn volledig zichtbaar worden */
}

nav ul li a.active {
    color: #CB0639; /* Zelfde kleur als bij hover */
}

nav ul li a.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px; /* Dikte van de "onderstreping" */
    background: linear-gradient(to right, #c70039, #ff5733 70%);
    transform: scaleX(1); /* Zorg ervoor dat de lijn volledig zichtbaar is */
    transform-origin: left;
}

/* Slideshow gallery */

.slider{
   aspect-ratio: 16 / 9;
   border-radius: 10px;
   margin: auto;
   max-width: 1024px;
   overflow: hidden;
   position: relative;
   width: 100%;
}

.slides{
   display: flex;
   height: 100%;
   transition: all 0.5s ease-in-out;
   width: 400%;
}

.slides input{
    display: none; 
}

.slide { 
   transition: 2s;
   width: 25%;
}

.slide img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

/* css for manual slide navigation */

.navigation-manual, .navigation-auto {
    align-items: center;
    bottom: 15px;
    display: flex;
    gap: 20px;
    justify-content: center;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 10;
}

.manual-btn, .navigation-auto div {
    border-radius: 50%;
    border: 2px solid hsla(52, 94%, 94%, 1);
    cursor: pointer;
    height: 12px;
    transition: background 0.3s ease;
    width: 12px;
 }

.manual-btn:hover{
    background: #CB0639;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

/* css for automatic navigation */

#radio1:checked ~ .navigation-auto .auto-btn1,
#radio2:checked ~ .navigation-auto .auto-btn2,
#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #CB0639;
}

/* footer */
footer .social_icons {
    align-items: center;
    display: flex;
    grid-column: 3 / 4;
    justify-content: end;
 }
 
 footer .social_icons ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
 }

/*  --- Aanbod.html --- */

/*  --- Detail.html --- */

/*  --- Contact.html --- */